@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-font: "Roboto", sans-serif;
  --white-tone: #fdfdfd;
}

#background-first-block {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#first-block-box {
  position: absolute;
  top: 60vh;
  left: 5vw;
}

#first-block-box h1 {
  font-family: var(--primary-font);
  color: var(--white-tone);
  font-size: 7vw;
  width: 100%;
}

#first-block-box button {
  font-family: var(--primary-font);
  font-size: 3.3vw;
  color: var(--white-tone);
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-color: var(--white-tone);
  border-radius: 4px;
  padding: 15px;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.7s;
}

#first-block-box button:hover {
  background-color: var(--white-tone);
  color: black;
  transition: 0.7s;
}

@media (min-width: 750px) {
  #first-block-box {
    top: 50vh;
  }
}

@media (min-width: 1280px) {
  #first-block-box {
    top: 65vh;
  }
  #first-block-box h1 {
    font-size: 3.4vw;
  }
  #first-block-box button {
    font-size: 1.4vw;
  }
}
